*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main{
  background-color: seagreen;
  width: 90%;papayawhip;
  height: 250px;
/*margin: 100px;*/


}